<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn</title>
</head>
<style>
    h2 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        font-family: Avenir,sans-serif;
    }
    h4 {
        display: flex;
        justify-content: center;
        font-family: Avenir,sans-serif;
    }
    div {
        box-sizing: border-box;
        width: 100%;
        display: block;
        text-align: center;
        font-family: Avenir,sans-serif;
    }
    a {
        font-family: Avenir,sans-serif;
        cursor: pointer;
    }

</style>
<body>
<h2> Learn more about mental health. </h2>
<h4> Anxiety </h4>
<div>
<a href="https://newsinhealth.nih.gov/2016/03/understanding-anxiety-disorders" target="_blank">News in Health: Understanding Anxiety Disorders</a>
<br> <br>
<a href="https://www.mayoclinic.org/diseases-conditions/anxiety/symptoms-causes/syc-20350961" target="_blank">Mayo Clinic: Anxiety Symptoms</a>
<br> <br>
<a href="https://www.healthline.com/health/anxiety" target="_blank">Healthline: Anxiety Disorders</a>
<h4> Depression </h4>
<a href="https://www.healthline.com/health/depression" target="_blank">Everything You Need to Know About Depression</a>
<br> <br>
<h4> Obsessive Compulsive Disorder (OCD) </h4>
<a href="https://www.healthline.com/health/ocd/social-signs" target="_blank">Everything You Need to Know About OCD</a>
<br> <br>
<h4> Attention Deficit Hyperactivity Disorder (ADHD) </h4>
<a href="https://www.healthline.com/health/adhd" target="_blank">Everything You Need to Know About OCD</a>
</div>
</body>
</html>